KAGGLE_USERNAME=your_user
KAGGLE_KEY=your_token
PROJECT_ROOT=/home/${USER}/Documents/repos/lab/app # full path for this repository/app
# generate with: python3 -c "import secrets; print(secrets.token_hex(32))"
AIRFLOW__API_AUTH__JWT_SECRET=<paste-generated-value-here>
# generate with: python3 -c "import secrets; print(secrets.token_hex(32))"
AIRFLOW__API_SERVER__SECRET_KEY=<paste-generated-value-here>
